@font-face {
	font-family: 'Gotham Rounded';
	src: url("/fonts/GothamRounded-Bold.woff2"),
		url("/fonts/GothamRounded-Bold.woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url("/fonts/GothamRounded-Medium.woff2"),
		url("/fonts/GothamRounded-Medium.woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url("/fonts/GothamRounded-Light.woff2"),
		url("/fonts/GothamRounded-Light.woff"); 
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url("/fonts/GothamRounded-Book.woff2"),
		url("/fonts/GothamRounded-Book.woff");
	font-weight: normal;
	font-style: normal;
}